--extra-index-url https://download.pytorch.org/whl/cu126

dotenv
torch
torchaudio==2.7.1
numpy<2.3
sounddevice
openai-whisper
faster-whisper
ctranslate2
transformers
gradio>=5.0,<6.0
gradio-i18n
pytubefix
ruamel.yaml
sqlmodel
pyannote.audio
whisperx
jiwer
onnxruntime-gpu
git+https://github.com/jhj0517/ultimatevocalremover_api.git
git+https://github.com/jhj0517/pyrubberband.git
